{{ template "head" "Ural \\ Index"}}
<body>
    {{ template "header" "Projects List" }}
    <main>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Priority</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <th scope="row">{{ .ID }}</th>
                    <td><a href="/project/{{ .ID }}">{{ .Name }}</a></td>
                    <td><a href="/project/{{ .ID }}">{{ .Idea }}</a></td>
                    <td>{{ .PriorityStr }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <form class="main-form" action="/post/project" method="post">
            <p class="main-form">
                <label class="main-form" for="name">Name:</label>
                <input class="main-form" type="text" id="name" name="name" maxlength="32"><br>
            </p>
            <p class="main-form">
                <label class="main-form" for="idea">Idea:</label>
                <input class="main-form" type="text" id="idea" name="idea" maxlength="128"><br>
            </p>
            <p class="main-form">
                <input class="main-form" type="submit" value="Add project">
            </p>
        </form>
    </main>
{{ template "footer" }}
