{{ template "head" "Ural \\ Index"}}
<body>
    {{ template "header" "Project Page" }}
    <main>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Idea</th>
                    <th scope="col">Category</th>
                    <th scope="col">Language</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Projects }}
                <tr>
                    <th scope="row">{{ .ID }}</th>
                    <td>{{ .Name }}</td>
                    <td>{{ .Idea }}</td>
                    <td>{{ .Category }}</td>
                    <td>{{ .Language }}</td>
                    <td>{{ .Date }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Date</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Issues }}
                <tr>
                    <th scope="row">{{ .ID }}</th>
                    <td>{{ .Description }}</td>
                    <td>{{ .Date }}</td>
                    <td>{{ .Weight }}</td>
                    <td>{{ .TypeString }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <hr>
        {{ range .Projects }}
        <form class="main-form" action="/post/issue/{{ .ID }}" method="post">
            <p class="main-form">
                <label class="main-form" for="issue">New issue:</label>
                <input class="main-form" type="text" id="issue" name="issue" maxlength="64"><br>
            </p>
        {{ end }}
            <select name="type">
                {{ range .Types }}
                <option value="{{ .ID }}">{{ .Type }}</option>
                {{ end }}
            </select>
            <p class="main-form">
                <input class="main-form" type="submit" value="Add issue">
            </p>
        </form>
    </main>
{{ template "footer" }}
